body{
  background-color: #BFD7ED;
}
.main{
  width: 370px;
  height: 500px;
  border: 10px solid #fff;
  border-radius: 15px;
  background-color: #fff;
  margin: 0 auto;
  margin-top: 7.5%;

img{
  width: 350px;
  height: 300px;
  margin-left: 3%;
  margin-top: 3%;
  border-radius: 10px;
}
.text{
  width: 350px;
  height: 100px;
  margin-left: 10%;
  margin-top: 6%;
  font-family: sans-serif;
}

b{
  font-size: 25px;
}
p{
  font-size: 19px;
}
.one{
  margin-block-start: 0em;
  margin-block-end: 0em;
  display: block;
  margin-right: 10%;
  text-align: center;
}
